<div ng-controller="NewProjectCtrl">
	<form class="form-horizontal">
		<h1 class="page-header">New Project</h1>
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="name">Name</label>
				<div class="controls">
					<input id="title" type="text" class="input-block-level"
						required="true" ng-model="project.name"></input>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="title">Description</label>
				<div class="controls">
					<textarea id="description"  class="input-block-level" required="true" name="description" ng-model="project.description" ></textarea>
				</div>
			</div>
		</fieldset>
		<div class="form-actions">
			<button class="btn btn-primary" ng-click="saveProject()">Add
				Book</button>
		</div>
	</form>
</div>
